/**
* HydroShare GIS
* @author Kenneth Lippold
* @version 2.0
*/


/* ============================================================== */
/* ====================== Tethys Overrides ====================== */
/* ============================================================== */


/* ::::::::::::::::::::::: Tethys Map View :::::::::::::::::::::: */

#app-content {
    height: 100% !important;
    padding-bottom: 0 !important;
}

#inner-app-content {
    padding: 0 !important;
}

#app-actions {
    display:none !important;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


/* :::::::::::::::::: Tethys Navigation Content ::::::::::::::::: */

/* Removes Navigation Pane Padding and Adds Right Border */
#app-navigation{
    padding-left: 0 !important;
    padding-right: 0 !important;
    overflow: visible !important;
    border-right-style: solid !important;
    border-right-color: #b3b3b3 !important;
    border-right-width: 1px !important;

}

/* Allows Navigation to Resize Properly With Window */
.nav {
    display: flex !important;
    flex-direction: column !important;
    padding-bottom: 0 !important;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


/* ============================================================== */
/* ============================================================== */
/* ============================================================== */





/* ============================================================== */
/* ======================= Global Styles ======================== */
/* ============================================================== */


/* :::::::::::::::::::: Navigation Scrollbar :::::::::::::::::::: */

/* Scrollbar Width */
::-webkit-scrollbar {
    width: 10px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
    background: #cccccc; 
}
 
/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Scrollbar Hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


/* ============================================================== */
/* ============================================================== */
/* ============================================================== */





/* ============================================================== */
/* ====================== Navigation Pane ======================= */
/* ============================================================== */


/* :::::::::::::::::: Navigation Pane Selector :::::::::::::::::: */

/* Style the tab navigation container*/
.nav-pane-tab-selector {
    overflow: hidden;
    border: 0px;
    background-color: #f1f1f1;
    width: 100%;
    height: 46px;
}

/* Style the tab navigation buttons */
.tab-nav-button {
    background-color: #D3D3D3;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 50%;
    height:100%;
}

/* Change background color of tab navigation buttons on hover */
.nav-pane-tab-selector button:hover {
    background-color: #F0F0F0;
}

/* Style the tab content */
.nav-tab-content {
    display: flex;
    border-top: none;
    background: lightgray;
    flex-direction: column;
    flex-grow: 1;
}

/* Sets the Initial Active Tab Button Color */
#nav-pane-workspace-tab-toggle {
    background-color: #FFFFFF;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


/* :::::::::::::::::: Workspace Section Headers ::::::::::::::::: */

.workspace-section-header {
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #FFFFFF;
    width: 100%;
    height: 50px;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


/* :::::::::::::::::::: Workspace Layer List :::::::::::::::::::: */

.workspace-layer-list {
    overflow: hidden;
    padding: 3px;
    background-color: #D3D3D3;
    width: 100%;
    overflow-y: auto;
    flex-grow: 1;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


/* :::::::::::::::::::: Workspace Action List ::::::::::::::::::: */

.tab-action-list {
    background-color: #D3D3D3;
    padding: 3px;
}

.action-button {
    float: left;
    height: 50px;
    width: 140px;
    background: #FFFFFF;
    transition: 0.1s;
    border-radius: 5px;
    border: 1px solid #D3D3D3;
    margin: 3px;
}

.action-button:hover {
    background-color: #F0F0F0;
}

.action-button:focus {
    outline:0;
}

.action-button:active {
    background:#cccccc;
}



/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


/* :::::::::::::::::::::::: Search Tab :::::::::::::::::::::::::: */

#search-tab-content {
    display: none;
}

.search-nav-header {
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-top: 8px;
    background-color: #FFFFFF;
    width: 100%;
    height: 50px;
}

.search-bar-input {
    outline: none;
    background-color: whitesmoke;
    border: none;
    width: 80%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.search-bar-container:focus-within {
    border: 1px solid #2196F3;
    box-shadow: 0px 0px 2px 0px #2196F3;
}

.search-bar-container {
    padding-left: 25px;
    padding: 5px;
    font-size: 16px;
    border-radius: 8px;
    border: solid;
    border-color: lightgray;
    border-width: 1px;
    width: 100%;
    background-color: whitesmoke;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


/* ============================================================== */
/* ============================================================== */
/* ============================================================== */





/* ============================================================== */
/* ======================== App Content ========================= */
/* ============================================================== */


/* :::::::::::::::::::::::: Map Container ::::::::::::::::::::::: */

#map {
    height: 100%;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


/* ============================================================== */
/* ============================================================== */
/* ============================================================== */





/* ============================================================== */
/* ========================= App Modals ========================= */
/* ============================================================== */


/* :::::::::::::::::::::: Local File Upload ::::::::::::::::::::: */

#shapefile-upload {
    display: visible;
}

#geojson-upload {
    display: none;
}

#geotiff-upload {
    display: none;
}

#netcdf-upload {
    display: none;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


/* ::::::::::::::::::::::: Attribute Table :::::::::::::::::::::: */

.attr-table-container {

}

.data-tables-scroll {
    overflow: auto;
    width:100%;
}

.modal-dialog {
    width: auto;
    max-width: 90%;
}

#data_table_length{
    visibility: hidden;
}

#data_table_filter{
    visibility: hidden;
}

#data_table_info{
    visibility: hidden;
}

#data_table_paginate{
    visibility: hidden;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


/* ============================================================== */
/* ============================================================== */
/* ============================================================== */





/* ============================================================== */
/* ======================= Workspace Items ====================== */
/* ============================================================== */


/* :::::::::::::::::::::: Layer Container ::::::::::::::::::::::: */

.workspace-layer-container {
    margin: 3px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    background-color: #FFFFFF;
    transition: 0.2s;
    overflow: auto;
}

.workspace-layer-container-hover:hover {
    background-color: #F0F0F0;
}

.layer-control-container {
    height: 44px;
    padding: 12px;
}

.workspace-layer-icon {
    float: left;
    width: 20px;
}

.workspace-layer-name {
    float: left;
    width: 155px;
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.chk-container {
    float: right;
    margin-bottom: 0 !important;
    margin-right: 8px;
    margin-left: 8px;
    display: block;
    position: relative;
    border: solid lightgray;
    border-width: 1px 1px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 1px;
}

.chk-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 3px;
    left: 3px;
    margin: auto;
    width: 50%;
    height: 12px;
    width: 12px;
    border-radius: 1px;
}

.chk-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.chk-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.chk-container input:checked ~ .checkmark:after {
    display: block;
}

.dropdown {
    float:right;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-left:5px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}

.glyphicon.glyphicon-menu-hamburger{
    font-size: 16px;
}

.dropdown-button {
    padding: 2px;
    float:right;
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
}

.dropdown-button:hover {
    background-color: lightgray;
}

.dropdown-button:active {
    background-color: gray;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


/* ::::::::::::::::::::: Layer Context Menu ::::::::::::::::::::: */

.context-menu-wrapper {
    float:right;
    position: absolute;
    height: 120px;
    width: 160px;
    background-color: transparent;
    z-index: 1000;
    box-shadow: 1px 1px 5px black;
    border-radius: 3px;
}

.context-menu {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 3px;
    padding: 10px;
}

.context-menu:after {
    content: '';
    transform:rotate(45deg);
    position: absolute;
    background-color: white;
    left: 0;
    top: 50%;
    width: 14px;
    height: 14px;
    z-index: -2;
    box-shadow: 1px 1px 5px black;
    margin-top: -8px;
    margin-left: -7px;
}

.context-menu-button {
    position: relative;
    height: 25%;
    width: 100%;
    padding-top:2px;
    padding-bottom:2px;
    padding-left: 5px;
    cursor: pointer;
}

.context-menu-button:hover {
    background-color: lightgray;
}

.context-menu-button:active {
    background-color: gray;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


/* ============================================================== */
/* ============================================================== */
/* ============================================================== */





/* ============================================================== */
/* ======================= Symbology Menu ======================= */
/* ============================================================== */


/* ::::::::::::::::::::::::: Symbology :::::::::::::::::::::::::: */

.layer-symbology-container {
    position: relative;
    display: none;
    margin-left: 12px;
    margin-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    height: 100%;
    border: solid lightgray;
    border-width: 1px 0 0 0;
}

.symbology-tab-container {
    height: 10%;
    width: 100%;
    table-layout: fixed;
}

.symbology-tab-container button {
    align-self: center;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 10px;
    /*transition: 0.2s;*/
    font-size: 14px;
    width: 84px;
    border-radius: 5px;
}

.symbology-tab-container button:hover {
    background-color: lightgray;  
}

.symbology-tab-container button.active {
    background-color: #008080;
    color: white; 
}

.symbology-tab-content {
    display: none;
}

.transparency-value {
    height: 30px;
    width: 30px;
    padding: 3px;
    border-radius: 3px;
    background-color: lightgray;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


/* ============================================================== */
/* ============================================================== */
/* ============================================================== */
