{% extends "hydroshare_gis/base.html" %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_navigation_items %}

<div class="nav-pane-tab-selector">
  <button id="nav-pane-search-tab-toggle" class="tab-nav-button">Discover</button>
  <button id="nav-pane-workspace-tab-toggle" class="tab-nav-button">Workspace</button>
</div>

<div id="search-tab-content" class="nav-tab-content">
  <div class="search-nav-header">
    <div class="search-bar-container">
      <input id="search-input" class="search-bar-input" type="text" placeholder="Search HydroShare...">
      <div class="search-bar-search-container">
        <span id="search-button" class="glyphicon glyphicon-search"></span>
      </div>
      <div class="search-bar-filter-container">
        <span class="glyphicon glyphicon-filter"></span>
      </div>
    </div>
  </div>
  <ul class="search-results-list" page=""></ul>
  <div class="search-results-footer">
    <button id="search-results-previous" class="search-page-button" disabled>Previous Page</button>
    <button id="search-results-next" class="search-page-button" disabled>Next Page</button>
  </div>
  <div class="search-result-details" resid="" hidden>
    <div id="detail-map" style="width: 200px; height: 200px" hidden></div>
    <div class="resource-detail-container" resIndex="">
      <h4 id="detail-resource-name"></h4>
      <h6>Resource Details:</h6>
      <table style="width:100%">
        <tr>
          <td>
            <h7>
              <b>Creator:</b>
            </h7>
          </td>
          <td id="detail-resource-creator"></td> 
        </tr>
        <tr>
          <td>
            <h7>
              <b>Resource Type:</b>
            </h7>
          </td>
          <td id="detail-resource-type"></td> 
        </tr>
        <tr>
          <td>
            <h7>
              <b>Created:</b>
            </h7>
          </td>
          <td id="detail-resource-created"></td> 
        </tr>
        <tr>
          <td>
            <h7>
              <b>Last Updated:</b>
            </h7>
          </td>
          <td id="detail-resource-updated"></td> 
        </tr>
      </table>
      <h6>Resource Abstract:</h6>
      <div id="detail-resource-abstract"></div>
    </div>
  </div>
  <div class="search-details-footer" hidden>
    <button class="exit-search-result-details search-page-button">Go Back</button>
    <button class="add-hydroshare-resource-to-workspace search-page-button">Add Layer</button>
  </div>
</div>

<div id="workspace-tab-content" class="nav-tab-content">
  <div class="workspace-section-header">
    <h5>Layers</h5>
  </div>
  <ul class="workspace-layer-list sortable"></ul>
  <div class="workspace-section-header" style="border-top: 1px solid lightgray">
    <h5>Actions</h5>
  </div>
  <div class="tab-action-list">
    <button data-toggle="modal" data-target="#import-modal" class="action-button">Add Local Data</button>
    <button data-toggle="modal" data-target="#export-modal" class="action-button">Download Data</button>
    <button data-toggle="modal" class="action-button">Tools</button>
    <button data-toggle="modal" class="action-button">Export To HydroShare</button>
  </div>
</div>

{% endblock %}

{% block app_content %}
  <div id="map" class="map"></div>
  {% if geoserver_endpoint %}
  <div id="geoserver-endpoint" hidden>
    {{ geoserver_endpoint }}
  </div>
  {% endif %}
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}

  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">

        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="import-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">

        </div>
        <div class="modal-body">
          <select class="local-file-select">
            <option value="shapefile">Shapefile (Feature)</option>
            <option value="geojson">GeoJSON (Feature)</option>
            <option value="geotiff">GeoTiff (Raster)</option>
            <option value="netcdf">NetCDF (Raster)</option>
          </select>
          <br>
          <br>
          <input id="shapefile-upload" class="local-file-upload" type="file" accept=".shp,.prj,.shx,.dbf" multiple>
          <input id="geojson-upload" class="local-file-upload" type="file" accept=".json,.geojson">
          <input id="geotiff-upload" class="local-file-upload" type="file" accept=".tif">
          <input id="netcdf-upload" class="local-file-upload" type="file" accept=".nc">
          <br>
          <br>
          <button type="button" class="btn btn-default" id="upload-file-button" data-dismiss="modal">Submit</button>
        </div>
        <div class="modal-footer">
        
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="export-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">

        </div>
        <div class="modal-body">
        
        </div>
        <div class="modal-footer">
        
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="attr-table-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Attribute Table: US States</h4>
        </div>
        <div class="modal-body">
          <div class="attr-table-container">
            <table class="attr-table"></table>
          </div>
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block app_actions %}

{% endblock %}